<h1>Live stream</h1>

<div>
  <!-- iframe for the caméra view -->
</div>

<%= form_tag(lcd_write_path) do %>
  <%= text_field_tag('text_to_display', nil, placeholder: 'Texte à envoyer sur le LCD') %>
  <br>
  <%= submit_tag("Envoyer") %>
<% end %>