<h1>Live stream</h1>

<div class="iframe_container">
  <iframe src="<%= Camera::URL %>" height="600" width="800">
    <p>Camera live stream should be diplayed here. Sadly it isn't.</p>
  </iframe>
</div>

<hr>

<h1>Actions</h1>

<h2>Display text</h2>

<%= form_tag(lcd_write_path, remote: true) do %>
  <%= text_field_tag('text_to_display', nil, class: "form-control", placeholder: 'Texte à envoyer sur le LCD') %>
  <%= submit_tag("Envoyer", class: "btn btn-primary") %>
<% end %>

<h2>Turn light on/off</h2>

<input type="checkbox" name="my-checkbox" checked>

<hr>

<h1>Sensors' data</h1>

<div>Temperature: <span id="temperature_value"></span></div>